@font-face {
    font-family: navigation;
    src: url(../font/navigation.otf);
}

@font-face {
    font-family: footage;
    src: url(../font/navigation.otf);
}

@font-face {
    font-family: mainpage_key;
    src: url(../font/NotoSansHans-Black.otf);
}